html {
  font-family: "Fredoka One", sans-serif;

}

body {
  background-image: repeating-linear-gradient(-45deg, #b3fbff, #c9fcff 10px, #c9fcff 10px, #d4fdff 20px);

}

.ice-cream-cone {
  min-height: 480px;

}

h1 {
  color: #990073;
  padding-top: 5rem;
  transform: rotate(-10deg);
  text-shadow: 0rem 1rem 5rem white;

}

h2 {
  color: #c09;
  padding-left: 1.3rem;
  transform: rotate(-4deg);

}

.btn {
  border-style: solid;
  border-color: #990073;
  color: #c09;
  padding: 10px 20px;
  position: absolute;
  left: 170px;
  top: 350px;

}

.btn-ghost:hover {
  border: 3px;
  border-style: solid;
  border-color: #990073;
  color: #c09;

}

.cone {
  bottom: calc(50% - 325px);
  right: calc(50% - 450px);
  position: absolute;
  animation: drop 1s linear;

}

@keyframes drop {

  from {
    transform: translate(0, -500px);
  }

  to {
    transform: translate(0, 0);
  }

}

.mint-chip {
  bottom: calc(50% - 180px);
  right: calc(50% - 450px);
  position: absolute;
  animation: drop 2s linear;

}

@keyframes drop {

  from {
    transform: translate(0, -500px);
  }

  to {
    transform: translate(0, 0);
  }

}

.chocolate-chip {
  bottom: calc(50% - 50px);
  right: calc(50% - 460px);
  position: absolute;
  animation: drop 3s ease-in;

}

@keyframes drop {

  from {
    transform: translate(0, -500px);
  }

  to {
    transform: translate(0, 0);
  }

}

.vanilla-fudge {
  bottom: calc(50% - -40px);
  right: calc(50% - 450px);
  position: absolute;
  animation: drop 4s ease-in;

}

@keyframes drop {

  from {
    transform: translate(0, -500px);
  }

  to {
    transform: translate(0, 0);
  }

}

.cherry {
  bottom: calc(50% - -150px);
  right: calc(50% - 450px);
  position: absolute;
  animation: drop 4.5s linear;

}

@keyframes drop {

  from {
    transform: translate(0, -500px);
  }

  to {
    transform: translate(0, 0);
  }

}
