html {
  font-family: "Fredoka One", sans-serif;

}

body {
  background-image: repeating-linear-gradient(-45deg, #b3fbff, #c9fcff 10px, #c9fcff 10px, #d4fdff 20px);

}

.ice-cream-cone {
  max-width: 19px;

}

h1 {
  color: #990073;
  transform: rotate(-10deg);

}

h2 {
  color: #c09;
  transform: rotate(-4deg);
  left: 1rem;

}

.btn {
  border-style: solid;
  border-color: #990073;
  color: #c09;
  position: absolute;


}

.btn-ghost{

}

.btn-ghost:hover {
  border: 3px;
  border-style: solid;
  border-color: #990073;
  color: #c09;

}

.red {
  text-shadow: 0px 1px 5px white;
  animation: blur 4s linear;

}

@keyframes blur {

  0% {
    filter: blur(20px) opacity(0%);

  }

  50% {
    filter: blur(10px) opacity(0%);

  }

  60% {
    filter: blur(0px) opacity(0%);

  }


  85% {
    filter: blur(0px) opacity(100%);
  }
}

.cone {
  bottom: calc(50% - 325px);
  right: calc(50% - 450px);
  position: absolute;
  animation: drop .5s ease-in;

}

@keyframes drop {

  from {
    transform: translate(0, -500px);
  }

  to {
    transform: translate(0, 0);
  }

}

.mint-chip {
  bottom: calc(50% - 180px);
  right: calc(50% - 450px);
  position: absolute;
  animation: drop 1s ease-in;

}

@keyframes drop {

  from {
    transform: translate(0, -500px);
  }

  to {
    transform: translate(0, 0);
  }

}

.chocolate-chip {
  bottom: calc(50% - 50px);
  right: calc(50% - 460px);
  position: absolute;
  animation: drop 2s ease-in;

}

@keyframes drop {

  from {
    transform: translate(0, -500px);
  }

  to {
    transform: translate(0, 0);
  }

}

.vanilla-fudge {
  bottom: calc(50% - -40px);
  right: calc(50% - 450px);
  position: absolute;
  animation: drop 2.5s ease-in;

}

@keyframes drop {

  from {
    transform: translate(0, -500px);
  }

  to {
    transform: translate(0, 0);
  }

}

.cherry {
  bottom: calc(50% - -150px);
  right: calc(50% - 450px);
  position: absolute;
  animation: drop 3s ease-in;

}

@keyframes drop {

  from {
    transform: translate(0, -500px);
  }

  to {
    transform: translate(0, 0);
  }

}
